
1.terraform/.terraform.lock.hcl
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/linux_amd64/terraform-provider-azurerm_v3.0.0_x5
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_386/terraform-provider-azurerm_v3.0.0_x5.exe
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.3/linux_amd64/terraform-provider-local_v2.2.3_x5
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.3/windows_386/terraform-provider-local_v2.2.3_x5.exe
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.3.2/linux_amd64/terraform-provider-random_v3.3.2_x5
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.3.2/windows_386/terraform-provider-random_v3.3.2_x5.exe
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.1/linux_amd64/terraform-provider-tls_v4.0.1_x5
1.terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.1/windows_386/terraform-provider-tls_v4.0.1_x5.exe
1.terraform/ssh_privatekey.pem
1.terraform/terraform.tfstate
1.terraform/terraform.tfstate.backup
azure task.txt
Technical Challenge - devops - remote\[35\].docx
